{% extends "base.html.twig" %}
{% block content %}
 
  <div class="page-content"><span style="color: red; font-size: 75px;">
    ACCOUNT INFORMATION
  </div>
  
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Name:
    /*{{name['name']}}*/
   
     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Date of Birth:
   /* {{name['DOB']}}*/

     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Address:
   /*{{name['address_street']}}*/
     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Phone Number:
    /*{{name['phone_number']}}*/

     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Email:
   /* {{name['email_address']}} */

     </div>
  <div class="page-content"><span style="color: black; font-size: 25px;">
    Password:
   /* {{name['password']}} */

    </div>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
Edit

</button>

{% endblock %}
