{% extends "base.html.twig" %}

{# this is just an example for how to use mdl-grid #}
{% block content %}
  <div class="page-content">
    <!-- styling -->
    <style>
      .chart-card {
        width: 100%;
      }

      .chart {
        height: 400px;
      }

      .pending {
        margin: auto;
      }
    </style>

    <!-- included code to run the charts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/none.js"></script>

    <!-- script for actual chart creation -->
    <script>
      var c0 = AmCharts.makeChart("c0", {
        "type":"pie",
        "theme":"none",
        "dataProvider":[
          {"gender":"Male", "count":{{maleCount}}},
          {"gender":"Female", "count":{{femaleCount}}},
        ],
        "valueField":"count",
        "titleField":"gender",
        "balloon":{
          "fixedPosition":true
        },
        "export":{
          "enabled":false
        }
      });
      var c1 = AmCharts.makeChart("c1", {
        "type":"serial",
        "theme":"none",
        "autoMargins": false,
        "marginBottom": 75,
        "marginLeft": 75,
        "dataProvider":[
          {% for city in salarybycity  %}
            {"city":"{{city['ADDRESS_CITY']}}, {{city['ADDRESS_STATE']}}", "value":{{city['AVG']}}},
          {% endfor %}
        ],
        "valueAxes": [{
          "axisAlpha": 0,
          "position": "left",
          "title": "Average Salary",
        }],
        "startDuration": 1,
        "graphs": [{
          "balloonText": "[[city]]: <b>[[value]]</b>",
          "fillAlphas": 0.8,
          "lineAlpha": 0.2,
          "type": "column",
          "valueField": "value"
        }],
        "chartCursor": {
          "categoryBalloonEnabled": false,
          "cursorAlpha": 0,
          "zoomable": false
        },
        "categoryField": "city",
        "categoryAxis": {
          "gridPosition": "start",
          "gridAlpha": 0,
          "tickPosition": "start",
          "tickLength": 20
        },
        "export":{
          "enabled":false
        }
      });
      var c2 = AmCharts.makeChart("c2", {
        "type":"serial",
        "theme":"none",
        "autoMargins": false,
        "marginBottom": 75,
        "marginLeft": 75,
        "dataProvider":[
          {% for friend in friends %}
            {"friend":"{{friend['FRIEND1']}}", "value":{{friend['COUNT']}}},
          {% endfor %}
        ],
        "valueAxes": [{
          "axisAlpha": 0,
          "position": "left",
          "title": "Number of Friends",
        }],
        "startDuration": 1,
        "graphs": [{
          "balloonText": "[[friend]]: <b>[[value]]</b>",
          "fillAlphas": 0.8,
          "lineAlpha": 0.2,
          "type": "column",
          "valueField": "value"
        }],
        "chartCursor": {
          "categoryBalloonEnabled": false,
          "cursorAlpha": 0,
          "zoomable": false
        },
        "categoryField": "friend",
        "categoryAxis": {
          "gridPosition": "start",
          "gridAlpha": 0,
          "tickPosition": "start",
          "tickLength": 20
        },
        "export":{
          "enabled":false
        }
      });
      var c3 = AmCharts.makeChart("c3", {
        "type":"serial",
        "theme":"none",
        "autoMargins": false,
        "marginBottom": 75,
        "marginLeft": 75,
        "dataProvider":[
          {% for like in likes %}
            {"sm":"{{like['FROMACC']}} to {{like['TOACC']}}", "text":"{{like['TEXT']}}", "value":{{like['COUNT']}}},
          {% endfor %}
        ],
        "valueAxes": [{
          "axisAlpha": 0,
          "position": "left",
          "title": "Number of Likes",
        }],
        "startDuration": 1,
        "graphs": [{
          "balloonText": "[[sm]]: [[text]] - <b>[[value]]</b>",
          "fillAlphas": 0.8,
          "lineAlpha": 0.2,
          "type": "column",
          "valueField": "value"
        }],
        "chartCursor": {
          "categoryBalloonEnabled": false,
          "cursorAlpha": 0,
          "zoomable": false
        },
        "categoryField": "sm",
        "categoryAxis": {
          "gridPosition": "start",
          "gridAlpha": 0,
          "tickPosition": "start",
          "tickLength": 20
        },
        "export":{
          "enabled":false
        }
      });
      var c4 = AmCharts.makeChart("c4", {
        "type":"serial",
        "theme":"none",
        "autoMargins": false,
        "marginBottom": 75,
        "marginLeft": 75,
        "dataProvider":[
          {% for m in money %}
            {"money":"{{m['FROMACC']}}", "value":{{m['TOTAL']}}},
          {% endfor %}
        ],
        "valueAxes": [{
          "axisAlpha": 0,
          "position": "left",
          "title": "Total Money in Bank",
        }],
        "startDuration": 1,
        "graphs": [{
          "balloonText": "[[money]]: <b>[[value]]</b>",
          "fillAlphas": 0.8,
          "lineAlpha": 0.2,
          "type": "column",
          "valueField": "value"
        }],
        "chartCursor": {
          "categoryBalloonEnabled": false,
          "cursorAlpha": 0,
          "zoomable": false
        },
        "categoryField": "money",
        "categoryAxis": {
          "gridPosition": "start",
          "gridAlpha": 0,
          "tickPosition": "start",
          "tickLength": 20
        },
        "export":{
          "enabled":false
        }
      });
    </script>

    <!-- html code -->
    <div class="mdl-grid">
      <div class="mdl-cell chart-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Pending Accounts</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <table class="mdl-data-table mdl-js-data-table pending">
            <thead>
              <tr>
                <th>ID</th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                <th class="mdl-data-table__cell--non-numeric">Edit</th>
              </tr>
            </thead>
            <tbody>
            {% for pend in pending %}
              <tr>
                <td>{{pend['ID']}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{pend['NAME']}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{pend['EMAIL_ADDRESS']}}</td>
                <td class="mdl-data-table__cell--non-numeric"><a href="{{url('user_edit', {id: pend['ID']})}}">Edit</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="mdl-cell chart-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Salary by Gender</h2>
        </div>
        <div class="mdl-card__supporting-text chart" id="c0"></div>
      </div>
      <div class="mdl-cell chart-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Salary by City</h2>
        </div>
        <div class="mdl-card__supporting-text chart" id="c1"></div>
      </div>
      <div class="mdl-cell chart-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Number of Friends</h2>
        </div>
        <div class="mdl-card__supporting-text chart" id="c2"></div>
      </div>
      <div class="mdl-cell chart-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Social Media Post Likes</h2>
        </div>
        <div class="mdl-card__supporting-text chart" id="c3"></div>
      </div>
      <div class="mdl-cell chart-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Total Money in Bank</h2>
        </div>
        <div class="mdl-card__supporting-text chart" id="c4"></div>
      </div>
    </div>
  </div>
{% endblock %}
